@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.choices {
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 30px;
    border: 2px dashed #07b5ed;
    border-radius: 10px;
    width: 200px;
    box-shadow: 5px 5px 10px gray;
}

#placeOrder {
    background: #e74b12;
    padding: 10px;
    color: white;
    text-shadow: 0 0 2px black;
    width: 200px;
    height: 50px;
    box-shadow: 0 0 2px black;
}